<template>
    <div class="upload-container">
      <div v-if="showFiles" class="upload-img-box">
        <img :src="item" v-for="(item, index) in images" :key="item">
      </div>
      <div class="upload-box">
        <input type="file" accept="image/*" multiple="multiple" capture="camera" @change="upload"/>
        <el-button class="upload-btn" type="primary">上传<i class="el-icon-upload el-icon--right"></i></el-button>
      </div>
    </div>
</template>

<script>
	import {mapActions, mapState} from 'vuex'
  import QiniuYun from '../utils/qiniuyun'
  import { QiniuToken } from '../api'
	
    export default {
      props: ['showFiles', 'initialValue'],
    	data(){
    		return {
    			images: this.initialValue ? [...this.initialValue] : []
    		}
    	},
    	created(){
    	
    	},
    	computed: {

    	},
      methods: {
        upload (e) {
          for (let i = 0, len = e.target.files.length; i < len; i++) {
            let file = e.target.files[i]
            if (file) {
              //验证图片文件类型
              if (file.type && !/image/i.test(file.type)) {
                return false
              }
              const names = file.name.split('.')
              let extName = names[names.length - 1] || file.type.split('/')[1] || 'jpg'
              
              const qiniuyun = new QiniuYun({
                getTokenUrl: QiniuToken,
                getTokenHeaders: {
                  authorization: this.$store.state.auth.token
                },
                domain: 'http://ad.xmlcloud.cn',
              })
              const filename = Date.now() + Math.random() + '.' + extName
              console.log('file');
              qiniuyun.upload(file, filename).then(res => {
                console.log(res)
                this.images.push(res.url)
              })

            }
          }
        }
      }
    }
</script>

<style lang="less">
	@import '../style/mixin';
	.upload-container{
		background-color: #EFF2F7;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
  }
  .upload-box {
    position: relative;
    width: 150px;
    height: 50px;
    input, .upload-btn {
      width: 150px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    input {
      cursor: pointer;
      height: 50px;
      opacity: 0;
      z-index: 1000;
    }
  }
  .upload-img-box {

  }
</style>
