<template>
    <div>
        <head-top></head-top>
		<section class="data_section">
			<header class="section_title">欢迎来到后台管理系统</header>
            <div class="home-step-content">
                  <el-steps direction="vertical" :active="3">
                        <el-step title="2018.7.22" description="用户管理"></el-step>
                  </el-steps>
            </div>
		</section>
    </div>
</template>

<script>
	import headTop from '../components/headTop'
	import dtime from 'time-formater'
    export default {
    	data(){
    		return {
    			apiCount: null,
    			userCount: null,
    			orderCount: null,
                adminCount: null,
                allApiCount: null,
                allUserCount: null,
                allOrderCount: null,
                allAdminCount: null,
    			sevenDay: [],
    			sevenDate: [[],[],[],[]],
    		}
    	},
    	components: {
    		headTop,
    	},
    	mounted(){
    	},
        computed: {
        },
    	methods: {

    	}
    }
</script>

<style lang="less">
    @import '../style/mixin';
    .home-step-content {
        height: 400px;
        padding: 100px 100px 0;
        .el-steps {
            height: 400px;
        }
    }
	.data_section{
		padding: 20px;
		margin-bottom: 40px;
		.section_title{
			text-align: center;
			font-size: 30px;
			margin-bottom: 10px;
		}
		.data_list{
			text-align: center;
			font-size: 14px;
			color: #666;
            border-radius: 6px;
            background: #E5E9F2;
            .data_num{
                color: #333;
                font-size: 26px;

            }
            .head{
                border-radius: 6px;
                font-size: 24px;
                padding: 0 10px;
                color: #fff;
            }
        }
        .today_head{
            background: #FF9800;
        }
        .all_head{
            background: #20A0FF;
        }
	}
    .wan{
        .sc(16px, #333)
    }
</style>
