<template>
    <div class="fillcontain">
        <head-top></head-top>
        <div class="table_container">
            <el-table
                :data="list"
                :row-key="row => row.index"
                style="width: 100%"
                :stripe="true">
                <el-table-column
                  label="ID"
                  prop="id"
                  width="100">
                </el-table-column>
                <el-table-column
                  label="openid"
                  prop="openid"
                  :width="smallScreen ? 350 : 450">
                </el-table-column>
                <el-table-column
                  label="头像"
                  prop="headimgurl">
                  <template slot-scope="scope">
                      <img :src="scope.row.headimgurl" class="table-cell-img">
                  </template>
                </el-table-column>
                <el-table-column
                  label="昵称"
                  prop="nickname">
                </el-table-column>
                <el-table-column
                  label="状态"
                  prop="status">
                  <template slot-scope="scope">
                      <span :style="{color: scope.row.status === 1 ? '#4fc08d' : '#e4393c'}">
                          {{scope.row.status === 1 ? '已通过' : '未通过'}}
                      </span>
                  </template>
                </el-table-column>
                <el-table-column label="审核" width="160">
                  <template slot-scope="scope">
                        <el-switch
                            v-model="scope.row.status"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            :active-value="1"
                            :inactive-value="0"
                            @change="(v) => handleView(v, scope.row)">
                        </el-switch>
                  </template>
                </el-table-column>
            </el-table>
            <div class="Pagination" v-if="list.length !== 0">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                  :page-sizes="[10, 20, 50]"
                  :page-size="s"
                  layout="sizes, total, prev, pager, next"
                  :total="total">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import headTop from '../components/headTop'
    import upload from '../components/elUpload'
    import { mapActions, createNamespacedHelpers } from 'vuex'

    const user = createNamespacedHelpers('user');

    export default {
        data(){
            return {
                specs: [],
                city: {},
                offset: 0,
                s: 10,
                images: [],
                currentPage: 1,
                smallScreen: screen.availWidth <= 1440 ? !0 : !!0
            }
        },
        created(){
            this.fetchUserList();
        },
        computed: {
            ...user.mapState(['total', 'list']),
        },
        watch: {
            list (n, o) {
                console.log('o', o)
                console.log('n', n)
            }
        },
    	components: {
    		headTop, upload
    	},
        methods: {
            ...user.mapActions(['fetchUserList', 'toAssessUser']),
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.s = val
                this.currentPage = 1
                this.fetchUserList({s: val, p: 1});
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.fetchUserList({s: this.s, p: val});
            },
            handleView (status, row) {
                const { id } = row || {}
                const {query} = this.$route
                if (id !== undefined) {
                    this.toAssessUser({id, status, 
                    resolve: () => {
                     this.$message({
                        message: '状态修改成功！',
                        type: 'success'
                     });
                    },
                    reject: () => {
                     this.$message.error('状态修改失败！');
                     this.$router.replace({name: 'users', query})
                    }
                 })
                }
            }
        },
    }
</script>

<style lang="less">
	@import '../style/mixin';
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .table_container{
        padding: 20px;
    }
    .Pagination{
        display: flex;
        justify-content: flex-start;
        margin-top: 35px;
    }
    .table-cell-img {
        width: 55px;
        padding: 0;
    }
    .table-cell-summary {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
