<template>
    <div id="app" class="fillcontain">
		    <router-view></router-view>
    </div>
</template>

<script>
	import {mapState, createNamespacedHelpers} from 'vuex'

    const auth = createNamespacedHelpers('auth')

    export default {
    	name: 'app',  
        components: {},
        computed: {
			...auth.mapState(['token']),
		},
        watch: {  
            "$route": "checkAuthenticate"  
        },
        methods: {
            checkAuthenticate(to, from) {
                // if(this.$route.path !== '/login'){
                //     if(!this.token){
                //         this.$router.replace('/login')
                //     }
                // }else{
                //     // if(token){
                //     //     this.$router.replace('/')
                //     // }
                // }
            }
        }
    }
</script>

<style lang="less">
	@import './style/common';
</style>
